<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/bnb_debug_log.txt</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/bnb_debug_log.%d{yyyy-MM-dd}.txt</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.outdoor.foodcalc" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <root level="WARN">
        <appender-ref ref="FILE" />
    </root>
</configuration>
